<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Type" content="application/json; charset=utf-8">
  {* <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script> *}
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> 
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css"> 
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tokenfield/0.12.0/css/bootstrap-tokenfield.min.css">
</head>

<body>
	<div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>

	{include content}

	{block scripts}
 	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
  	<script src="https://unpkg.com/jquery@3.5.0/dist/jquery.min.js"></script>
	<script src="https://unpkg.com/corejs-typeahead@1.3.1/dist/typeahead.bundle.min.js"></script>
	<script src="https://unpkg.com/nette-forms@3.0.3/src/assets/netteForms.min.js"></script>
	<script src="https://unpkg.com/@nepada/autocomplete-input@1.0.1/dist/js/autocomplete-input.min.js"></script>
	{/block}
</body>
</html>
