parameters:
    defaultArticleUrl: 'uvod'          # URL výhozího článku
    contactEmail: 'admin@localhost.cz' # Kontaktní email

application:
	errorPresenter: Error
	mapping:
		*: [App, Modules\*, Presenters\*Presenter]
		key: App\Modules\Keyword\Presenters\*Presenter
		auth: App\Modules\Authenticator\Presenter\*Presenter


session:
	expiration: 14 days


di:
	export:
		parameters: no
		tags: no

# Nastavení výchozích chybových hlášek pro formuláře.
forms:
    messages:
        REQUIRED: 'Povinné pole.'
        EMAIL: 'Neplatná emailová adresa.'

extensions:
    - Nepada\Bridges\AutocompleteInputDI\AutocompleteInputExtension

# security:
# 	users:
# 		Anton: 123test  # логин 'admin', пароль 'secret'
