search:
	-
		in: %appDir%
		classes:
			- *Factory
			- *Facade


services:
	- App\Router\RouterFactory::createRouter
	- App\Services\MyAuthenticator
	- Nette\Application\UI\Form
	- App\Model\KeywordsModel
	- App\Model\FetchModel
	- App\Model\AuthModel
	- Nette\Mail\Message
	- App\Presenters\MailPresenter(%contactEmail%)